.git
.gitignore
vendor
node_modules
npm-debug.log
yarn-error.log
.DS_Store
*.log
.env.backup
.env.*.backup
storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tests
Test.php
